---

layout: default
title: Hangar Menu - Week 1 - December 7

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Chuleta hawaiana"
  - menu_option: "Bistec entomatado"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto."
menu_day1_special: "Lasaña de pollo"

menu_day2:
  - menu_option: "Pollo en salsa pomodoro"
  - menu_option: "Pescado en salsa de espinaca"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto."
menu_day2_special: "Pierna de cerdo en salsa navideña"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Tortas de pollo en salsa de queso"
  - menu_option: "Pastel de yuca con carne"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto."

menu_day4:
  - menu_option: "Pescado al ajillo"
  - menu_option: "Nuggets de pollo"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto."
menu_day4_special: "Rice and Beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
