---

layout: default
title: Hangar Menu - Week 15 - March 28

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Fajitas mixtas"
  - menu_option: "Costilla BBQ"
  - menu_option: "Pollo en salsa de hongos"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Tortas de carne caprese"
  - menu_option: "Suprema de pollo"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Tortas de pollo en salsa de queso"
  - menu_option: "Pescado en salsa caribeña"
  - menu_option: "Trozos de cerdo agridulce"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Pollo empanizado"
  - menu_option: "Albóndigas en salsa oscura"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Rice and beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
