---

layout: default
title: Hangar Menu - Week 6 - January 25

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Chuleta en salsa hawaiana"
  - menu_option: "Nuggets de pescado"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day1_special: "Suprema de pollo"

menu_day2:
  - menu_option: "Pescado en salsa caribeña"
  - menu_option: "Bistec de res en salsa criolla"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Costilla BBQ"

menu_day3:
  - menu_option: "Pescado al ajillo"
  - menu_option: "Sopa negra"
  - menu_option: "Fajitas mixtas"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Milanesa de pollo"
  - menu_option: "Mano de piedra en salsa oscura con hongos"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Chimichangas de pollo"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
