---

layout: default
title: Hangar Menu - Week 17 - April 12

menu_week: "3"

menu_day1_title: "Martes"
menu_day2_title: "Mi&eacute;rcoles"
menu_day3_title: "Jueves"
menu_day4_title: "Viernes"

menu_day1:
  - menu_option: "Canelones de queso"
  - menu_option: "Bistec en salsa jalapeña"
  - menu_option: "Milanesas de pollo"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Trozos de res en salsa BBQ"
  - menu_option: "Arroz con pollo"
  - menu_option: "Pescado en salsa florentina"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day3:
  - menu_option: "Chile relleno"
  - menu_option: "Chuleta en salsa agridulce"
  - menu_option: "Pollo mostaza miel"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Chifrijo"
  - menu_option: "Pescado empanizado"
  - menu_option: "Pollo con papas"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
