---

layout: default
title: Hangar Menu - Week 13 - March 14

menu_week: "3"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Pollo al horno"
  - menu_option: "Posta de cerdo en salsa de maracuya"
  - menu_option: "Pollo en salsa de hongos"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Lasaña de pollo"
  - menu_option: "Pescado empanizado"
  - menu_option: "Pinchos mixtos(pollo y cerdo)"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day3:
  - menu_option: "Lechón de cerdo en salsa de tamarindo"
  - menu_option: "Pollo mechado en salsa de tomate"
  - menu_option: "Arroz con pollo"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Pescado menier"
  - menu_option: "Espaguetti boloñesa"
  - menu_option: "Pollo mostaza miel"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
