---

layout: default
title: Hangar Menu - Week 11 - February 29

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Fajitas de res"
  - menu_option: "Chuleta hawaiana"
  - menu_option: "Pescado empanizado"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Tortas de pollo salsa de queso"
  - menu_option: "Carne en salsa"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Sopa azteca"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Tortas de carne capres"
  - menu_option: "Vigoron"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Arroz con mariscos"
  - menu_option: "Pescado al ajillo"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Lasaña de pollo"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
