---

layout: default
title: Hangar Menu - Week 17 - April 12

menu_week: "4"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Cerdo en salsa de maracuya"
  - menu_option: "Pescado al ajillo"
  - menu_option: "Arroz arreglado"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Pescado en salsa caribeña"
  - menu_option: "Milanesa de res"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Tortas de carne capres"
  - menu_option: "Chuleta hawaiana"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Pollo en salsa pomodoro"
  - menu_option: "Fajitas mixtas con vegetales"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Rice and beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
