---

layout: default
title: Hangar Menu - Week 8 - February 08

menu_week: "3"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Chuleta hawuaiana"
  - menu_option: "Pollo salsa blanca con hongos"
  - menu_option: "Pescado empanizado"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Burritos de carne"
  - menu_option: "Pescado a la florentina"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Canelones de carne"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day3_special: "Lechón en salsa BBQ"

menu_day4:
  - menu_option: "Mano de piedra en salsa de tomate"
  - menu_option: "Pollo mostaza miel"
  - menu_option: "Fajitas de cerdo"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
