---

layout: default
title: Hangar Menu - Week 9 - February 15

menu_week: "4"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Bistec en salsa de vino tinto con hongos"
  - menu_option: "Pollo empanizado"
  - menu_option: "Pescado al ajillo"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Estofado de res"
  - menu_option: "Milanesa de pollo"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Sopa azteca"

menu_day3:
  - menu_option: "Espagueti en salsa blanca con hongos"
  - menu_option: "Pollo salsa teriyaki"
  - menu_option: "Chuleta de cerdo encebollada"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Pescado empanizado"
  - menu_option: "Fajitas mixtas"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Lasaña de carne"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
