---

layout: default
title: Hangar Menu - Week 7 - February 01

menu_week: "2"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Filet de pollo en salsa criolla"
  - menu_option: "Pescado en salada lim&oacute;n"
  - menu_option: "Tortas de carne parmesanas"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Tortas de pollo en salsa de queso"
  - menu_option: "Chuleta entomatada"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Lasaña de carne"

menu_day3:
  - menu_option: "Chile relleno"
  - menu_option: "Fajitas de pollo"
  - menu_option: "Carne mechada en salsa"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Chuleta en salsa maracuya"
  - menu_option: "Filet de pollo en salsa mil especies"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Rice and beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
