---

layout: default
title: Hangar Menu - Week 4 - January 11

menu_week: "4"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Pescado salsa menier"
  - menu_option: "Pollo salsa blanca"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day1_special: "Chilasquila"

menu_day2:
  - menu_option: "Arroz arreglado mar y tierra"
  - menu_option: "Carne mexicana"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Canelones de queso"
  - menu_option: "Pastel de yuca"
  - menu_option: "Posta de cerdo"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Pollo salsa pizaiola"
  - menu_option: "Pescado empanizado"
  - menu_option: "Carne en salsa"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
