---

layout: default
title: Hangar Menu - Week 12 - March 07

menu_week: "2"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Arroz mixto"
  - menu_option: "Pollo empanizado"
  - menu_option: "Pescado a la florentina"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Pescado empanizado"
  - menu_option: "Carne en mexicana"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Chuleta hawaiana"
  - menu_option: "Tortas de pollo en salsa de queso"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day3_special: "Cordón bleu de res en salsa oscura"

menu_day4:
  - menu_option: "Espaguetti boloñesa"
  - menu_option: "Albóndigas en salsa de tomate"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Rice and beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
