---

layout: default
title: Hangar Menu - Week 3 - January 4

menu_week: "3"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Chuleta con cebolla y chile dulce"
  - menu_option: "Pescado empanizado"
  - menu_option: "Pollo al ajillo"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Tortas de carne"
  - menu_option: "Pescado en salsa portuguesa"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Costilla de cerdo BBQ"

menu_day3:
  - menu_option: "Pollo salsa mostaza miel"
  - menu_option: "Fajitas de res"
  - menu_option: "Cerdo en salsa de tamarindo"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Nuggets de pollo"
  - menu_option: "Penne en salsa blanca (pollo y hongos)"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Rice And beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
