---

layout: default
title: Hangar Menu - Week 10 - February 22

menu_week: "5"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"

menu_day1:
  - menu_option: "Pollo en salsa blanca"
  - menu_option: "Pescado menier"
  - menu_option: "Chilasquilas"
menu_day1_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day2:
  - menu_option: "Chile relleno"
  - menu_option: "Arroz mar y tierra"
menu_day2_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day2_special: "Costilla BBQ"

menu_day3:
  - menu_option: "Fajitas mixtas"
  - menu_option: "Cerdo en salsa maracuya"
  - menu_option: "Canelones de queso"
menu_day3_garrison: "Pure, vegetales &oacute; picadillo mixto"

menu_day4:
  - menu_option: "Pollo pizaiola"
  - menu_option: "Espagueti boloñesa"
menu_day4_garrison: "Pure, vegetales &oacute; picadillo mixto"
menu_day4_special: "Rice and beans"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarnici&oacute;n del d&iacute;a"

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
