---

layout: default
title: Hangar Menu - Week 28 - Jul 04

menu_week: "2"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Pescado en salsa criolla"
  - menu_option: "Fajitas de res en salsa de Tomate"
  - menu_option: "Tortas de pollo en salsa de queso"

menu_day2:
  - menu_option: "Pollo con papas"
  - menu_option: "Pescado empanizado"
menu_day2_special: "Costilla BBQ"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Almuercitos de carne"
  - menu_option: "Trozos de cerdo"

menu_day4:
  - menu_option: "Pescado en salsa veracruzana"
  - menu_option: "Milanesa de pollo"
menu_day4_special: "Rice And beans"

menu_day5:
  - menu_option: "Carne en salsa"
  - menu_option: "Espagueti en salsa marinera"
menu_day5_special: "Chifrijo"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
