---

layout: default
title: Hangar Menu - Week 20 - May 02

menu_week: "2"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Pollo empanizado"
  - menu_option: "Tortas de carne caprese"
  - menu_option: "Carnitas jalapeñas"

menu_day2:
  - menu_option: "Pescado en salsa caribeña"
  - menu_option: "Pollo en salsa blanca"
menu_day2_special: "Costilla BBQ"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Pastel de papa con carne"
  - menu_option: "Pescado empanizado"

menu_day4:
  - menu_option: "Fajitas mixtas"
  - menu_option: "Carne mexicana"
menu_day4_special: "Rice and beans"

menu_day5:
  - menu_option: "Alitas b&uacute;falo"
  - menu_option: "Chimichangas de pollo"
  - menu_option: "Pinchos de pollo con cerdo"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
