---

layout: default
title: Hangar Menu - Week 19 - April 25

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Pollo en salsa blanca con hongos"
  - menu_option: "Pescado empanizado"
  - menu_option: "Espaguetti boloñesa"

menu_day2:
  - menu_option: "Pollo mostaza miel"
  - menu_option: "Fajitas mixtas"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Chuleta en salsa de tamarindo"
  - menu_option: "Tortas de pollo salsa queso"
  - menu_option: "Albóndigas salsa oscura"

menu_day4:
  - menu_option: "Pollo a la plancha"
  - menu_option: "Carne en salsa"
  - menu_option: "Canelones en salsa"

menu_day5:
  - menu_option: "Pollo napolitano"
  - menu_option: "Fajitas de cerdo en salsa agridulce"
menu_day5_special: "Chifrijo"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
