---

layout: default
title: Hangar Menu - Week 22 - May 16

menu_week: "4"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Milanesa de pollo"
  - menu_option: "Pescado menier"
  - menu_option: "Arroz mixto"

menu_day2:
  - menu_option: "Albóndigas en salsa de tomate"
  - menu_option: "Pollo empanizado"
menu_day2_special: "Lasaña de pollo"

menu_day3:
  - menu_option: "Arroz con pollo"
  - menu_option: "Trozos de cerdo en salsa agridulce"
  - menu_option: "Cordon bleu de res"

menu_day4:
  - menu_option: "Pescado empanizado"
  - menu_option: "Pollo en salsa blanca con hongos"
menu_day4_special: "Rice and beans"

menu_day5:
  - menu_option: "Pinchos de pollo"
  - menu_option: "Carne mexicana"
menu_day5_special: "Chifrijo"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
