---

layout: default
title: Hangar Menu - Week 23 - May 23

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Lechón de cerdo"
  - menu_option: "Pollo a la plancha"
  - menu_option: "Pescado en salsa de tomate"

menu_day2:
  - menu_option: "Tortas de carne parmesanas"
  - menu_option: "Pollo en salsa naranja"
menu_day2_special: "Costilla BBQ"

menu_day3:
  - menu_option: "Chuleta en salsa de tamarindo"
  - menu_option: "Mano de piedra en salsa de de tomate"
menu_day3_special: "Sopa azteca"

menu_day4:
  - menu_option: "Pollo al horno"
  - menu_option: "Espagueti boloñesa"
  - menu_option: "Fajitas de cerdo con vegetales en salsa soya"

menu_day5:
  - menu_option: "Pollo en salsa de hongos"
  - menu_option: "Carne en salsa"
  - menu_option: "Tortas de carne rellenas de queso"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
