---

layout: default
title: Hangar Menu - Week 31 - Aug 01

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Spagueti boloñesa"
  - menu_option: "Tortas de pollo pizaiola"
  - menu_option: "Trozos de cerdo en salsa"

menu_day2:
  - menu_option: "Milanesa de pollo"
  - menu_option: "Chuleta en salsa de piña"
  - menu_option: "Carne en salsa"

menu_day3:
  - menu_option: "Mano de piedra en salsa"
  - menu_option: "Pollo en salsa blanca"
  - menu_option: "Pescado al eneldo"

menu_day4:
  - menu_option: "Canelones de pollo"
  - menu_option: "Pescado empanizado con salsa tártara"
  - menu_option: "Pollo en salsa pomodoro "

menu_day5:
  - menu_option: "Carne mechada"
  - menu_option: "Suprema de pollo"
  - menu_option: "Chancletas"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
