---

layout: default
title: Hangar Menu - Week 27 - Jun 27

menu_week: "1"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Jueves"
menu_day5_title: "Viernes"

menu_day1:
  - menu_option: "Puntas de lomo en salsa jalapeña"
  - menu_option: "Pescado tempura"
  - menu_option: "Cerdo al horno"

menu_day2:
  - menu_option: "Arroz con mariscos"
  - menu_option: "Res rellena de vegetales"
menu_day2_special: "Sopa azteca"

menu_day3:
  - menu_option: "Papas con chorizo"
  - menu_option: "Pastel de yuca con carne"
  - menu_option: "Pescado en salsa blanca con hongos"

menu_day4:
  - menu_option: "Muslos de pollo al horno"
  - menu_option: "Spaguetti en salsa de tomate con albóndigas"
menu_day4_special: "Chimichangas"

menu_day5:
  - menu_option: "Pollo al curry"
  - menu_option: "Pierna de cerdo en salsa navideña"
  - menu_option: "Arroz tres establos(pollo,res y cerdo)"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
