---

layout: default
title: Hangar Menu - Week 21 - May 09

menu_week: "3"

menu_day1_title: "Lunes"
menu_day2_title: "Martes"
menu_day3_title: "Mi&eacute;rcoles"
menu_day4_title: "Viernes"

menu_day1:
  - menu_option: "Fajitas de pollo"
  - menu_option: "Chuleta en salsa de piña"
  - menu_option: "Nuggets de pescado"

menu_day2:
  - menu_option: "Pollo mostaza miel"
  - menu_option: "Lomo fingido en salsa oscura"
menu_day2_special: "Sopa azteca"

menu_day3:
  - menu_option: "Pollo en salsa"
  - menu_option: "Cerdo en salsa de manzana"
  - menu_option: "Fajitas mixtas"

menu_day4:
  - menu_option: "Mano de piedra en salsa de tomate"
  - menu_option: "Pollo en salsa pomodoro"
menu_day4_special: "Costilla de cerdo<br /> a la parrilla con salsa BBQ"

menu_special_text: "Especial del d&iacute;a"
menu_garrison_text: "Guarniciones: pur&eacute;, vegetales, ensalada, maduros."

---

{% include hero-image.html %}
{% include menu.html %}
{% include footer.html %}
